@model ModelLayer.UserModel
@using ModelLayer
@{
    ViewBag.Title = "My Profile";
    ViewBag.isSideBar = "true";
}
<!-- Dashboard -->
<div id="dashboard">
    @RenderPage("~/Views/Shared/sidebar.cshtml")
    <!-- Content
        ================================================== -->
    <div class="dashboard-content">

        <!-- Titlebar -->
        <div id="titlebar">
            <div class="row">
                <div class="col-md-12">
                    <h2>My Profile</h2>
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li>My Profile</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Profile -->
            <div class="col-sm-12">
                <div class="dashboard-list-box margin-top-0">
                    <h4 class="gray">Profile Details</h4>
                    <div class="dashboard-list-box-static">

                        <!-- Details -->
                        <div class="my-profile">

                            <label>Your Name:</label>
                            <label style="font-size:20px;color:red">@Model.Name</label>
                            <br />

                            <label>Phone:</label>
                            <label style="font-size:20px;color:red">@Model.PhoneNumber</label>
                            <br />

                            <label>Email:</label>
                            <label style="font-size:20px;color:red">@Model.Email</label>
                            <br />

                            @{string role = ((Role)Model.roleId).ToString();}
                            <label>Role:</label>
                            <label style="font-size:20px;color:red">@role</label>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- Content / End -->
    </div>
    <!-- Dashboard / End -->
</div>
<!-- Wrapper / End -->
<!-- Scripts
================================================== -->
</body>

<!-- Mirrored from www.vasterad.com/themes/listeo2/dashboard-add-listing.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Mar 2019 16:11:11 GMT -->
</html>